.main {
    background: var(--back);
    padding: 1.5rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--shadow2);
}

.icon {
    background: var(--main);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 3rem;
}

.selector {
    padding: 1rem;
    border-radius: 1rem;
    border: solid .1rem var(--tertiary);
}

.travel {
    height: 100%;
}