.main {
    background: var(--back);
    padding: 1.5rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--shadow2);

    @media (width < 1000px){
        flex-direction: column;
        
        @media (width < 800px){
            :global(.inner){
                flex-direction: column;
            }
            
        }
    }
}

.icon {
    cursor: pointer;
    transition: var(--transition-normal);
    color: var(--tertiary);
    font-size: 3rem;
}

.iconSelected {
    color: var(--main-solid);
}

.selector {
    padding: 1rem;
    border-radius: 1rem;
    border: solid .1rem var(--tertiary);
}

.travel {
    height: 100%;
}


.input_wrapper {
    position: relative;

    :global(input){
        position: relative;
    }
}

.input {
    position: absolute;
    left: 0;
}